

.main-content {
    min-height: 100vh; /* vh représente la hauteur de la fenêtre du navigateur */
    /* Assurez-vous que .main-content englobe tout votre contenu, à l'exception du header et du footer */
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
    color: #fff; 
    background-repeat: no-repeat; 
    width: auto;
   
}




nav {
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    z-index: 1000; /* S'assurer que la navbar reste au-dessus du contenu */
    background-image: linear-gradient(to bottom, rgba(106, 17, 203, 0.6), rgba(37, 117, 252, 0.6));
    background-position: left; 
    background-repeat: no-repeat; /* Empêcher la répétition de l'image */
    padding: 10px 0; /* Ajouter un peu d'espace autour des éléments de la navbar */
    background-size: contain;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0 auto; /* Centrer la liste dans la navbar */
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    text-decoration: none;
    color: white; /* Choisir une couleur de texte qui contraste bien avec votre image */
    font-size: 16px;
    font-weight: bold; /* Rendre le texte un peu plus épais pour améliorer la lisibilité */
    
}

nav ul li a:hover,
nav ul li a:focus {
    color: #a8dadc; /* Couleur au survol pour améliorer l'interaction utilisateur */
}

section {
    padding: 20px;
    text-align: center;
}

.projet {
    margin: 20px 0;
}

footer {
    background-color: #333;
    color: #333;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    position: static;
}
.carousel {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 500px; /* Fixe la hauteur du carrousel */
    width: 100%; /* Largeur du carrousel */
    margin: auto; /* Centre le carrousel horizontalement */
}
.carousel img {
    max-width: 60%; /* Rétrécit les images à 60% de la largeur du carrousel */
    max-height: 400px; /* Ajustez selon la hauteur désirée tout en conservant le ratio */
    margin: auto; /* Centre les images dans le carrousel */
    display: block; /* Assure que les images sont bien centrées */
    border: 10px solid #374785; /* Ajoute une bordure blanche autour des images */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Ajoute une légère ombre pour l'effet de profondeur */
    border-radius: 10px; /* Ajoute des bords arrondis à l'encadrement pour un look plus doux */
    opacity: 0; /* Maintient les images non actives invisibles */
    transition: opacity 1s ease-in-out; /* Transition douce pour l'opacité */
}

.carousel .carousel-item.active img {
    opacity: 1; /* Assure que l'image active est bien visible */
}

.lien-important {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    justify-content: center;
    text-align: center;
}

.lien-important:hover,
.lien-important:focus {
    color: #c30052; /* Assombrit la couleur au survol */
    text-decoration: none; /* Optionnel : enlève le soulignement au survol */
}

.container-images {
    display: flex;
    justify-content: center; /* Centrer les images horizontalement dans le conteneur */
    gap: 20px; /* Ajustez l'espace entre les images selon vos préférences */
}

.container-images img {
    width: 600px; /* Largeur souhaitée pour les images */
    height: auto; /* Hauteur ajustée automatiquement pour conserver le ratio d'aspect */
}

.cv-download {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #ffffff;
    text-decoration: none;
    border-radius: 5px;
    justify-content: center;
    text-align: center;
}

.cv-download:hover {
    background-color: #0056b3;
}
p{
    color: white;
}
h2{
    color: white;
}
h3{
    color: white;
}
#footer-logo {
    height: 40px; /* Plus petit que dans l'en-tête */
    width: auto;
}